.banner {
  height: 580px;
  width: 100vw;
  margin-bottom: 140px;
  margin-top: 51px;
  background-image: url('./images/bg-1.jpg');
  background-size: cover;
  background-position: center center;
  color: white;

  .block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
