/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 51px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__content .logo {
  height: 20px;
  width: 110px;
}
.header__content .navbar {
  padding-bottom: 3px;
}
.header__content .navbar__link {
  font-size: 0.875rem;
  margin: 0 13px;
  color: black;
}
.header__content .headeruser {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__content .headeruser .group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__content .headeruser .group__name {
  font-size: 0.875rem;
}
.header__content .headeruser .group__email {
  font-size: 0.75rem;
  color: #a7a7a7;
}
.header__content .headeruser__avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 0 12px;
}

.banner {
  height: 580px;
  width: 100vw;
  margin-bottom: 140px;
  margin-top: 51px;
  background-image: url("./images/bg-1.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
}
.banner .block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1,
.h2,
.h3 {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.h1 {
  font-size: 3.125rem;
}

.h2 {
  font-size: 2.625rem;
}

.h3 {
  font-size: 1.625rem;
}

.p {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.p--lg {
  font-size: 1.25rem;
}

.p--md {
  font-size: 1rem;
}

.p--sm {
  font-size: 0.875rem;
}

.aboutme {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 130px;
}
.aboutme__heading {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.aboutme .textblock {
  width: 55%;
}
.aboutme .textblock__paragraph {
  margin-top: 20px;
  margin-bottom: 25px;
}

.relationships {
  margin-bottom: 145px;
}
.relationships__heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.relationships__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  text-align: start;
}
.relationships__cards .skillcard {
  width: 30%;
}
.relationships__cards .skillcard__image {
  margin-bottom: 30px;
}

.requirements {
  width: 100vw;
  height: 1000px;
  background-image: url("./images/bg-2.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 140px;
}
.requirements .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
}
.requirements .content__heading {
  width: 65%;
  text-align: center;
  margin: 0 auto 60px auto;
}
.requirements .content__paragraph {
  width: 47%;
  line-height: 1.3;
}
.requirements .content__image {
  width: 45%;
}

.users-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}
.users-section__heading {
  margin-bottom: 30px;
}
.users-section__paragraph {
  margin-bottom: 60px;
}
.users-section .users {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  width: 290px;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.btn--solid {
  background-color: #ef6c00;
  color: white;
}

.btn--outline {
  border: 3px solid #ef6c00;
  color: #ef6c00;
  background: white;
}

.btn--text {
  background: none;
  border: none;
  color: #ef6c00;
  width: auto;
}

.btn__file {
  width: 30%;
  height: 56px;
  line-height: 56px;
  border-radius: 0 5px 5px 0;
}

.fieldset,
.select {
  border: 1px solid #989797;
  border-radius: 5px;
}

.fieldset-wrapper {
  width: 32%;
}

.fieldset {
  height: 56px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  position: relative;
}
.fieldset__label {
  margin-left: 20px;
  padding: 0 4px;
  color: #989797;
}
.fieldset__input {
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  font-size: 1rem;
  padding-left: 20px;
  box-sizing: border-box;
}

.inputfile-wrapper {
  width: 49%;
  display: flex;
}

.inputfile {
  position: relative;
  width: 70%;
  border-left: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #989797;
  border-radius: 5px 0 0 5px;
}
.inputfile__file {
  display: none;
}
.inputfile__filename {
  margin-left: 20px;
  line-height: 56px;
}

.signup-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.select {
  width: 49%;
  height: 56px;
}

html {
  font-size: 16px;
}

main {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.menu-btn {
  background: none;
  border: none;
}

.link {
  text-decoration: none;
}

.block__heading,
.block__paragraph {
  width: 450px;
}

.block__paragraph {
  margin-top: 30px;
  margin-bottom: 45px;
}

.user {
  width: 32%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.user__avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  align-self: flex-start;
  margin-right: 10px;
}
.user .p {
  color: #5c5b5b;
}

.signup {
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.signup__heading, .signup__paragraph {
  text-align: center;
}
.signup__paragraph {
  width: 50%;
}

.footer {
  height: 314px;
  background-color: #283593;
  color: white;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.footer .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer__head {
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #5f5fc4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.footer__head .logo {
  width: 134px;
  height: 24px;
  filter: invert(1);
}
.footer__head .navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.footer__head .navbar__link {
  color: white;
}
.footer__contacts {
  height: 110px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.25rem;
}
.footer__contacts .contact-img {
  margin-right: 10px;
}
.footer .linkgroup {
  height: 110px;
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}
.footer .linkgroup__link {
  margin: 5px 0;
  color: white;
}
.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-size: 0.75rem;
}
.footer__bottom .icn {
  margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 930px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  .relationships__cards {
    flex-direction: column;
    align-items: center;
  }
  .relationships__cards .skillcard {
    display: flex;
    width: 75%;
  }
  .relationships__cards .skillcard__image {
    margin-right: 30px;
  }

  .user {
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 580px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner .block__paragraph {
    max-width: 25ch;
    height: 75px;
    overflow: hidden;
  }

  .users-section .users {
    flex-flow: column nowrap;
  }
  .users-section .users .user:nth-child(n+4) {
    display: none;
  }

  .relationships__cards {
    flex-flow: column wrap;
  }
  .relationships__cards .skillcard {
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }

  .requirements .content {
    align-content: space-evenly;
  }
  .requirements .content__heading, .requirements .content__paragraph, .requirements .content__image {
    width: 100%;
  }
  .requirements .content__heading {
    order: 1;
  }
  .requirements .content__image {
    order: 2;
  }
  .requirements .content__paragraph {
    order: 3;
  }

  .signup {
    height: 750px;
  }
  .signup__paragraph {
    width: 100%;
  }
  .signup .signup-form {
    flex-flow: row wrap;
  }
  .signup .fieldset-wrapper,
.signup .inputfile-wrapper,
.signup .select {
    width: 100%;
  }
  .signup .inputfile-wrapper {
    margin-top: 30px;
  }

  .footer {
    height: 500px;
  }
  .footer .container {
    height: 100%;
    align-content: space-evenly;
  }
  .footer__head {
    height: auto;
    justify-content: center;
  }
  .footer__head .logo,
.footer__head .navbar {
    margin-bottom: 20px;
  }
  .footer__head .navbar {
    width: 100%;
    flex-direction: column;
  }
  .footer__head .navbar__link {
    margin: 5px auto;
  }
  .footer__contacts {
    align-items: center;
    width: 100%;
  }
  .footer__bottom {
    flex-direction: column-reverse;
  }
  .footer__bottom .icn {
    margin: 10px 10px;
  }
}

/*# sourceMappingURL=index.css.map */
