/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 51px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  background: white;
  position: fixed;
  width: 100vw;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__content .logo {
  height: 20px;
  width: 110px;
}
.header__content .navbar {
  padding-bottom: 3px;
}
.header__content .navbar__link {
  font-size: 13px;
  margin: 0 13px;
  color: black;
}
.header__content .user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__content .user .group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__content .user .group__name {
  font-size: 13px;
}
.header__content .user .group__email {
  font-size: 12px;
  color: #a7a7a7;
}
.header__content .user__avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 0 12px;
}

.banner {
  height: 580px;
  width: 100vw;
  margin-bottom: 140px;
  background-image: url("./images/bg-1.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
}
.banner .block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1,
.h2,
.h3 {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 42px;
}

.h3 {
  font-size: 26px;
}

.p {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.p--lg {
  font-size: 20px;
}

.p--md {
  font-size: 16px;
}

.p--sm {
  font-size: 14px;
}

.aboutme {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
.aboutme__heading {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.aboutme .textblock {
  width: 55%;
  margin-left: 30px;
}
.aboutme .textblock__paragraph {
  margin-top: 20px;
  margin-bottom: 25px;
}

.relationships__heading {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.relationships__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 60px;
  text-align: start;
}
.relationships__cards .skillcard {
  width: 33%;
}
.relationships__cards .skillcard__image {
  margin-bottom: 30px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.block__heading,
.block__paragraph {
  width: 450px;
}

.block__paragraph {
  margin-top: 30px;
  margin-bottom: 45px;
}

.btn {
  display: inline-block;
  width: 290px;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.btn--solid {
  background-color: #ef6c00;
  color: white;
}

.btn--outline {
  border: 3px solid #ef6c00;
  color: #ef6c00;
}

.btn--text {
  background: none;
  border: none;
  color: #ef6c00;
  width: auto;
}

/*# sourceMappingURL=index.css.map */
