@import './resets.scss';
@import './header.scss';
@import './banner.scss';
@import './typography.scss';
@import './aboutme.scss';
@import './relationships.scss';
@import './requirements.scss';
@import './users.scss';

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.block__heading,
.block__paragraph {
  width: 450px;
}

.block__paragraph {
  margin-top: 30px;
  margin-bottom: 45px;
}

.btn {
  display: inline-block;
  width: 290px;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.btn--solid {
  background-color: #ef6c00;
  color: white;
}

.btn--outline {
  border: 3px solid #ef6c00;
  color: #ef6c00;
}

.btn--text {
  background: none;
  border: none;
  color: #ef6c00;
  width: auto;
}
