.relationships {
  margin-bottom: 145px;

  &__heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 60px;
    text-align: start;

    .skillcard {
      width: 30%;

      &__image {
        margin-bottom: 30px;
      }
    }
  }
}
