.requirements {
  width: 100vw;
  height: 1000px;
  background-image: url('./images/bg-2.jpg');
  background-size: cover;
  color: white;
  margin-bottom: 140px;

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100%;

    &__heading {
      width: 65%;
      text-align: center;
      margin: 0 auto 60px auto;
    }

    &__paragraph {
      width: 47%;
      line-height: 1.3;
    }

    &__image {
      width: 45%;
    }
  }
}
