.h1,
.h2,
.h3 {
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.h1 {
  font-size: 3.125rem;
}

.h2 {
  font-size: 2.625rem;
}

.h3 {
  font-size: 1.625rem;
}

.p {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.p--lg {
  font-size: 1.25rem;
}

.p--md {
  font-size: 1rem;
}

.p--sm {
  font-size: 0.875rem;
}
