.users-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;

  &__heading {
    margin-bottom: 30px;
  }

  &__paragraph {
    margin-bottom: 60px;
  }

  .users {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
